.technologies-container {
    &::-webkit-scrollbar{
        height: 0;
    }

    &::-webkit-scrollbar-track {
        background: #000000;
    }

    &::-webkit-scrollbar-thumb {
        background: #000000;
    }
}